@import '../../styles/style.scss';
.register {
  height: 100vh;
  background: rgb(7, 17, 17);
  background: $bg-color;
  @include flex($direction: row, $justify: flex-end, $align: center);

  img {
    max-height: 100vh;
    position: absolute;
    left: 0;
  }
  .card {
    margin-right: 15%;
    z-index: 1;
    width: 30%;
    border-radius: 10px;
    @include flex($direction: column, $justify: center, $align: center);
    padding: 50px;
    min-height: 400px;
    background-color: $background-card-light;
    gap: 30px;
    color: $tertiary-color-light;
    @include shadows;

    h1 {
      @include heading;
      span {
        @include span-title;
      }
    }
    h2 {
      @include title;
    }

    p {
      @include p-tags;
    }

    span {
      @include span-text;
    }

    a {
      @include flex($direction: row, $justify: center, $align: center);
      width: 100%;
      text-decoration: none;
      .connexion {
        @include shadows($spread: 0.5px, $blur: 20px);
        @include buttons(
          $bg-color: $main-color,
          $bg-color-hover: $main-color-hover,
          $color: $secondary-color-hover
        );
      }
    }
    hr {
      width: 100%;
    }

    form {
      @include flex($direction: column, $justify: center, $align: center);
      @include form;

      button {
        @include shadows($spread: 0.5px, $blur: 20px);
        @include buttons(
          $bg-color: $secondary-color,
          $bg-color-hover: $secondary-color-hover,
          $color: $tertiary-color-dark
        );
      }
    }
  }
}
