@import './variables';

@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Texts

@mixin heading {
  font-size: $heading;
  color: $main-color-hover;
  line-height: $heading-hl;
}
@mixin span-title {
  color: $secondary-color;
  font-size: $heading;
  line-height: $heading-hl;
}

@mixin title {
  font-size: $title;
  color: $secondary-color;
}

@mixin p-tags {
  color: $tertiary-color-light;
  text-align: center;
  font-size: $p-tag;
}

@mixin span-text {
  color: $secondary-color;
  font-size: $spans-text;
  font-weight: $span-text-weight;
}

//Components

@mixin buttons {
  border-radius: $border-radius;
  font-weight: $button-weight;
  font-size: $p-tag;
  width: $button-width;
  padding: 5px;
  border: $button-border;
  background: $background-card-light;
  color: $tertiary-color-light;
  transition: all 0.2s ease-in-out;
  @include shadows(1px, 5px, black);
  &:hover {
    color: $secondary-color-hover;
    background: $background-card-dark;
    @include button-shadow(
      $spread: px,
      $blur: 5px,
      $shadow: $secondary-color-hover
    );
  }
}

@mixin form {
  @include flex($direction: column, $justify: center, $align: center);
  width: 100%;
  gap: 20px;
  input {
    border: $form-input-border;
    background: $form-input-background;
    border-bottom: 1px solid $tertiary-color-light;
    width: 50%;
    color: $tertiary-color-light;
    font-size: 16px;
  }
}

//Shadows

@mixin shadows($spread: 2px, $blur: 10px, $shadow: $shadow-color) {
  -webkit-box-shadow: 4px 5px $blur $spread $shadow;
  box-shadow: 4px 5px $blur $spread $shadow;
}

@mixin button-shadow(
  $spread: 2px,
  $blur: 10px,
  $shadow: $tertiary-color-light
) {
  -webkit-box-shadow: 0px 0px $blur $spread $shadow;
  box-shadow: 0px 0px $blur $spread $shadow;
}

//Icons

@mixin links {
  font-weight: 500;
  text-decoration: none;
  color: $tertiary-color-light;
  &:hover {
    color: $secondary-color;
    transition: ease-in 0.1s;
  }
}
