$main-color: #22707b;
$main-color-hover: #289ca1;
$secondary-color: #a3c6cc;
$secondary-color-hover: #f2faff;
$tertiary-color-light: #95b0b5;
$tertiary-color-dark: #324b4f;
$background-card-dark: #324b4f30;
$background-card-light: #95b0b530;
$shadow-color: black;

$bg-color: radial-gradient(
  circle,
  rgba(7, 17, 17, 1) 0%,
  rgba(13, 44, 48, 1) 100%
);
$reverse-bg-color: radial-gradient(
  circle,
  rgba(13, 44, 48, 1) 0%,
  rgba(7, 17, 17, 1) 100%
);

$heading: 60px;
$heading-hl: 70px;
$title: 36px;
$p-tag: 14px;
$spans-text: 12px;
$span-text-weight: light;

$button-weight: bold;
$button-width: 50%;
$button-border: none;
$button-cursor: pointer;
$border-radius: 10px;

$form-input-border: none;
$form-input-background: none;
