$main-color: #21273c;
$main-color-hover: #e8efff;

$secondary-color-hover: #00c6c0;
$secondary-color: #0099e2;

$tertiary-color-light: #a7aabc;
$tertiary-color-dark: #1e1e22;

$background-card-dark: #21273c50;
$background-card-light: #e8efff30;
$shadow-color: black;

$bg-color: linear-gradient(
  35deg,
  rgba(0, 198, 192, 1) 0%,
  rgba(33, 39, 60, 1) 60%
);

$heading: 56px;
$heading-hl: 70px;
$title: 36px;
$p-tag: 14px;
$spans-text: 12px;
$span-text-weight: light;

$button-weight: bold;
$button-width: 50%;
$button-border: 1px solid $tertiary-color-light;
$button-cursor: pointer;
$border-radius: 10px;

$form-input-border: none;
$form-input-background: none;
