@import '../../styles/style.scss';

nav {
  background: $tertiary-color-dark;
  @include flex(row, space-between, center);
  border-bottom: 1px solid $tertiary-color-light;
  height: 50px;
  position: sticky;
  top: 0;

  .left {
    flex: 1;
    @include flex(row, flex-start, center);
    a {
      text-decoration: none;
    }

    .logo {
      height: 50px;
      width: 50px;
    }

    span {
      @include flex(row, flex-start, center);
      @include p-tags;
      color: $tertiary-color-light;
      font-weight: bold;
      transition: all 0.2s ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
  .center {
    flex: 3;
    @include flex(row, space-around, center);
    form {
      @include flex(row, space-between, center);
      width: 100%;
      border-radius: 50px;
      background-color: $background-card-light;
      padding: 5px 15px;
      .search {
        color: $secondary-color;
        height: 20px;
        width: 20px;
      }
      input {
        margin-left: 10px;
        color: $secondary-color-hover;
        width: 100%;
        border: none;
        background: none;
        border-radius: 50px;
      }
    }
  }
  .right {
    flex: 2;
    @include flex(row, flex-end, center);
    margin: 0 2rem;
    .container {
      @include flex(row, space-around, center);
      width: 50%;
      .icon {
        @include links;
      }
    }
  }
}
