@import '../../styles/style.scss';

.sidebar {
  flex: 1;
  position: sticky;
  top: 51px;
  height: calc(100vh - 51px);
  background: $tertiary-color-dark;
  border-right: 1px solid $tertiary-color-light;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .links {
    @include flex(
      $direction: column,
      $justify: space-between,
      $align: flex-start
    );
    .container {
      @include links;
      padding: 20px;
      gap: 20px;
      @include flex(row, space-between, center);
      font-size: $p-tag;
    }
  }

  hr {
    width: 90%;
    margin-left: 8px;
    border: 1px solid $tertiary-color-light;
  }

  .friends {
    @include flex(column, space-between, flex-start);
    h2 {
      margin-top: 20px;
      font-size: $spans-text;
      color: $secondary-color;
      font-weight: 400;
      margin-left: 20px;
      margin-bottom: 20px;
    }
    .users {
      @include flex(row, space-between, center);
      padding: 10px 20px;
      position: relative;

      .online {
        background: green;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 12px;
      }

      .dot {
        background: red;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 12px;
      }
      .offline {
        background-color: #1e1e2280;
        position: absolute;
        width: 100%;
        height: 100%;
      }

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
      .container {
        padding: 0 20px;
        @include links;

        font-size: $p-tag;
        color: $tertiary-color-light;
      }
    }
  }
}
