@import '../../styles/style.scss';

.post {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .infos {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    height: 100%;
    width: 88.5%;
    @include flex(row, flex-end, flex-end);
    transition: opacity 0.2s ease-in;

    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }

    .user {
      @include flex(column, flex-start, center);
      .name {
        font-size: $spans-text;
        font-weight: bold;
        color: $tertiary-color-light;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        a {
          color: $tertiary-color-light;
          text-decoration: none;
          &:hover {
            color: $secondary-color-hover;
          }
        }
      }

      .title {
        text-align: center;
        font-size: $p-tag;
        color: $secondary-color;
        opacity: 0;
        transition: opacity 0.2s ease-in;
      }
    }

    &:hover {
      opacity: 1;
      background-color: $background-card-dark;
      img {
        opacity: 1;
      }
      .name {
        opacity: 1;
      }
      .title {
        opacity: 1;
      }
    }
  }
}
